/* Estilos aplicables en varios lugares */
.p-l-s{padding-left: 15px;}
.p-r-s{padding-right: 15px;}
.p-t-s{padding-top: 15px;}
.p-b-s{padding-bottom: 15px;}
.m-t-s{margin-top: 15px;}
.m-b-s{margin-bottom: 15px;}
.m-l-s{margin-left: 15px;}
.m-r-s{margin-right: 15px;}
.p-l-m{padding-left: 30px;}
.p-r-m{padding-right: 30px;}
.p-t-m{padding-top: 30px;}
.p-b-m{padding-bottom: 30px;}
.m-t-m{margin-top: 30px;}
.m-b-m{margin-bottom: 30px;}
.m-t-l{margin-top: 45px;}
.m-b-l{margin-bottom: 45px;}
.m-t-xl{margin-top: 60px;}
.m-b-xl{margin-bottom: 60px;}
.pos-r{position: relative;}
.pos-a{position: absolute;}
.pad1{padding: 1rem;}
.full-width{width: 100%;}
.align-left{text-align: left;}
.align-right{text-align: right;}
.align-center{text-align: center;}
.inline{display: inline;}
.hidden{display: none;}
.field-title{color: #2A5C5E;}
.primarytext{color: #01D099;}
.bold{font-weight: bold;}
.pull-left{float: left;}
.pull-right{float: right;}
.clearfix{clear: both;}
.img-circle{border-radius: 100%;}
.even{background-color: #FAFAFA;}
.text-large{font-size: 2rem;}
.line-height-med{line-height: 2rem;}
.semibold{font-weight: 500;}
.flex{display: flex;}
.flex-column{
  display: flex;
  flex-direction: column;
}
.line-separator{
  border-bottom: 3px solid #01D099;
  height:1px;
  margin: 0.5rem auto;
  width: 80px;
}
.vertical-separator{
  border-left:1px solid #CDCDCD;
  display: inline;
  margin: 0 1rem;
}
.btn{
  border: 1px solid transparent;
  border-radius: 1.5rem;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
}
.btn-primary{
  background-color: #01D099;
  color: #FFFFFF;
}
.btn-primary:hover{background-color: #01E4A8;}
.rotate-vertical{
  -ms-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.circular-char{
  border: 2px solid #DDDDDD;
  border-radius: 100%;
  cursor: pointer;
  display: inline-block;
  line-height: 2rem;
  text-align: center;
  width: 2rem;
}
.border-top-gray{border-top: 1px solid #DDDDDD;}
.border-full-gray{border: 2px solid #DDDDDD;}
.gray-text{color: #9B9B9B;}
