*{font-family: 'Helvetica Neue',Helvetica,sans-serif;}
html,body {
   margin:0;
   padding:0;
}
body{font-size: 16px;}
img{
  display: inline-block;
  vertical-align: middle;
}
.even{background-color: #FAFAFA;}
.intro{
  background-image: url(img/bg-intro.png);
  /*background-color: rgba(0,0,0,.5);*/
  min-height: 300px;
  color: #FFFFFF;
  padding: 1rem;
}
.description{
  min-height: 500px;
}
.register{
  background-color: #FFFFFF;
  box-shadow: 0 0 0.25rem #CFCFCF;
  padding: 0.5rem;
  position: absolute;
  right: 0;
  top: -3rem;
  width: 20rem;
}
.register input{
  padding: 0.5rem;
}
