*{font-family: 'Helvetica Neue',Helvetica,sans-serif;}
html,body {
  height: 100%;
  margin:0;
  padding:0;
  width: 100%;
}
body{font-size: 16px;}
img{
  display: inline-block;
  vertical-align: middle;
}
input[type=text],
input[type=password] {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #DDDDDD;
}
a{
  color: #01D099;
  text-decoration: none;
}
.ilabel{
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 15px;
  font-size: 13px;
}
.ilabel:before {
  background-color: #FFFFFF;
  bottom: 1px;
  box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
  content: "";
  display: inline-block;
  height: 16px;
  left: 0;
  margin-right: 10px;
  position: absolute;
  width: 16px;
}
input[type=radio] {display: none;}
.radio label:before {
  border-radius: 8px;
}
input[type=radio] + .ilabel:before {
  content: "\2022";
  color: #DDDDDD;
  font-size: 44px;
  line-height: 1.03rem;
  text-align: center;
}
input[type=radio]:checked + .ilabel:before {
  content: "\2022";
  color: #01D099;
  font-size: 44px;
  line-height: 1.03rem;
  text-align: center;
}
.centerdiv{
  margin: 3rem auto;
  padding: 0 6rem;
  text-align: center;
  width: 70%;
}
.intro{
  background-image: url(http://placehold.it/300x500);
  min-height: 300px;
  color: #FFFFFF;
  padding: 1rem;
}
.description{min-height: 550px;}
.register{
  background-color: #FFFFFF;
  box-shadow: 0 0 0.25rem #CFCFCF;
  left: 60%;
  padding: 1.5rem;
  position: absolute;
  right: 0;
  top: -7rem;
  width: 20rem;
}
.register input{
  font-size: 16px;
  padding: 0.5rem;
}
.register input:focus{
  border: 1px solid #01D099;
  box-shadow: 0 0 5px #01D099;
}
.section-header{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}
.img-guests{
  height: 80px;
  width: 80px;
}
.img-people{
  height: 40px;
  width: 40px;
}
.people-says{
  margin: 0 auto;
}
.people-says__content{
  background-color: #FFFFFF;
  box-shadow: 0 0 5px #DDDDDD;
  padding: 1rem;
}
.people-says__content-text{
  min-height: 80px;
}
